<div class="form-group">
  <%= form_for(@user) do |f| %>
    <%= f.label :first_name, class: "form-label" %>
    <%= f.text_field :first_name, class: "form-control" %>
    <br />
    <%= f.label :last_name, class: "form-label" %>
    <%= f.text_field :last_name, class: "form-control" %>
    <br />
    <%= f.label :password, class: "form-label" %>
    <%= f.password_field :password, class: "form-control" %>
    <br />
    <%= f.label :password_confirmation, class: "form-label"%>
    <%= f.password_field :password_confirmation, class: "form-control"%>
    <br />
    <% #only allow editing of user %>
    <% if @user.access == 1 %>
      <%= f.label :access, class: "form-label" %>
      <%= f.number_field :access, class: "form-control"%>
      <br />
    <% end %>
    <%= f.submit class: "btn btn-primary btn-sm" %>
  <% end %>
</div>
