<h1 class="text-center">Master Schedule</h1>
<br />
<div class="jumbotron">
  <table class="table">
    <thead>
      <th>Employee</th>
      <th>[<%=Date.today.beginning_of_week%>]<br/>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>[<%=Date.today.end_of_week%>]<br/>Sunday</th>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.full_name %></td>
          <% user.week_shifts.each do |time| %>
            <td><%= time %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br />
  <table class="table">
    <thead>
      <th>Employee</th>
      <th>Date</th>
      <th>Time</th>
      <th>Options</th>
    <thead>
    <tbody>
      <% @shifts.each do |shift| %>
        <tr>
          <td><%= shift.user.full_name %></td>
          <td><%= shift.pretty_date %></td>
          <td><%= shift.pretty_time %></td>
          <td><%= button_to "Delete", shift, method: :delete, class: "btn btn-default btn-sm" %></td>
          <td><%= button_to "Edit", edit_shift_path(shift), method: :get, class: "btn btn-default btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
