<h1 class="text-center">Master Schedule</h1>
<br />
<div class="jumbotron">
  <table class="table">
    <thead>
      <th>Employee</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.full_name %></td>
          <% user.week_shifts.each do |shift| %>
            <% if Date.parse(shift.start_time).monday? %>
              <td><%= shift.pretty_time %></td>
            <% end %>
            <% if Date.parse(shift.start_time).tuesday? %>
              <td><%= shift.pretty_time %></td>
            <% end %>
            <% if Date.parse(shift.start_time).wednesday? %>
              <td><%= shift.pretty_time %></td>
            <% end %>
            <% if Date.parse(shift.start_time).thursday? %>
              <td><%= shift.pretty_time %></td>
            <% end %>
            <% if Date.parse(shift.start_time).friday? %>
              <td><%= shift.pretty_time %></td>
            <% end %>
            <% if Date.parse(shift.start_time).saturday? %>
              <td><%= shift.pretty_time %></td>
            <% end %>
            <% if Date.parse(shift.start_time).sunday? %>
              <td><%= shift.pretty_time %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br />
  <table class="table">
    <thead>
      <th>Employee</th>
      <th>Date</th>
      <th>Time</th>
    <thead>
    <tbody>
      <% @shifts.each do |shift| %>
        <tr>
          <td><%= shift.user.full_name %></td>
          <td><%= shift.pretty_date %></td>
          <td><%= shift.pretty_time %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
