<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <%= link_to @user.full_name, home_path, class: "navbar-brand" %>
    <div class="dropdown navbar-right">
      <button class="btn btn-default" data-toggle="dropdown" >navigation</button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li><%= link_to "Home", home_path %></li>
        <li><%= link_to "SwapBoard", swap_board_path %></li>
        <li><%= link_to "MasterSchedule", master_schedule_path %></li>
        <li class="divider"></li>
        <li><%= link_to "EditProfile", edit_path %></li>
        <li><%= link_to "LogOut", logout_path %></li>
      </ul>
    </div>
  </div>
</nav>
