<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">Login</h1>
    <%= form_tag('/try_login', method:"get", class:"form-horizontal") do %>
      <%= label_tag :employee_number, nil, class:"control-label" %><br/>
      <%= text_field_tag :user_id, nil, class:"form-control" %><br/>
      <%= label_tag :password, nil, class:"control-label"%><br/>
      <%= text_field_tag :password, nil, class:"form-control" %><br/>
      <%= submit_tag "login", class:"btn btn-primary" %>
    <% end %>
  </div>
</div>
